* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2B283A;

}
.container {
    background-color: #ECFDF5;
    padding-left: 50px;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;  
    margin: 0 30px;
}


h1 {
    letter-spacing: -1px;
    color: #2B283A;
    max-width: 360px;
    font-size: 40px;
    margin-top: 60px;
}
h1 span {
    color:  #10B981;;
}
p {
    font-size: 20px;
    margin-top: 10px;
    color: #6B7280;
}

button {
    background-color: #10B981;
    border: none;
    outline: none;
    display: flex;
    padding: 9px 15px 9px 15px;
    font-size: 16px;
    color: #ffffff;
    margin-top: 50px;
}

button img {
    margin-right: 20px;
}
.password-boxes {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 46px;
}


.password-boxes div {
    width: 260px;
    padding: 0 20px;
    color: #3F516B;
    font-size: 36px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #273549;
    border-radius: 6px;
}
.password {
    color: #10B981 !important;
    font-size: 16px !important;
}
@media (max-width:713px) {

.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
h1 {
    font-size: 30px;
}
.password-boxes {
    grid-template-columns: 1fr;
}
button {
    padding-left: 38px;
    padding-right: 38px;
    border-radius: 6px;
}
}
